Source: k3s
Section: extra
Priority: optional
Maintainer: Philippe Coval <philippe@www.rzr.example.org>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/k3s.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/k3s.git

Package: k3s
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
